<?xml version="1.0"?>
<launch>
    <arg name="rvizconfig" default="$(find urdf_tutorial)/rviz/urdf.rviz" />

    <param name="robot_description" textfile="$(find unreal_ros_control)/urdf/test.urdf"/>
    <rosparam command="load" file="$(find unreal_ros_control)/config/joints.yaml" ns="joint_state_controller" />

    <node pkg="unreal_ros_control" type="unreal_ros_control_node" name="unreal_ros_control_node" output="screen"/>
    
    <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" args="joint_state_controller" />

    <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" />
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" />
</launch>